.body {
	height: 98dvh;
	margin: 0px;
	padding: 0px;

	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 50px 280px 280px 1fr;
}

.header {
	grid-row: 1;
	grid-column: 1;
	margin: 0px;
	padding: 4px;
	text-align: center;

	overflow: hidden;
}

.header h1 {
	font-color: grey;
	font-size: 24px;
	padding: 0px;
	margin: 0px;
}

.content {
	grid-row: 1;
	grid-column: 2 / 5;
	margin: 0px;
	padding: 12px;
}

.nav {
	grid-row: 1;
	border-left: 1px solid grey;
	padding: 8px;
	margin: 0px;

	overflow-y: auto;
}

.msg {
	font-weight: bold;
	margin-bottom: 16px;
}

.err {
	font-weight: bold;
	margin-bottom: 16px;
	font-color: red;
}

