<!DOCTYPE html>
<html>

  <head>

	<style>

	  div {
		  font: bold 12px Verdana,Arial,Helvetica;
		  text-align: center;
	  }
	  
	  p {
		  margin: 8px 0px 2px 0px;
	  }

	  #container {
		  width: 800px;
		  display: grid;
		  grid: 30px 100px 160px 160px 30px / 325px 445px 30px;
		  grid-gap: 0px;
		  
		  background: rgba(154,205,50,0.400000);
	  }

	  .large-icon {
		  background-repeat: no-repeat;
		  background-position: center;
		  background-size: 100%;
		  width: 250px;
		  height: 220px;
		  margin: 0 auto;
	  }

	  .small-icon {
		  background-repeat: no-repeat;
		  background-position: center;
		  background-size: 100%;
		  width: 70px;
		  height: 58px;
		  margin: 0 auto;
	  }

	  #now {
		  grid-column: 1;
		  grid-row: 2 / span 4;

		  font-size: 30px;
	  }

	  #datetime {
		  grid-column: 2;
		  grid-row: 2;
		  font-size: 22px;
	  }

	  .forecast-container {
		  margin: 8px 8px 8px 8px;
		  border: solid 1px black;
		  border-radius: 5px;

		  font-size: 16px;
		  background-color: ghostwhite;
	  }
	  
	  #hourly {
		  grid-column: 2;
		  grid-row: 3;
	  }

	  #daily {
		  grid-column: 2;
		  grid-row: 4;
	  }

	  .tiles {
		  display: grid;
		  grid: 120px / repeat({{FCAST_ITEMS}}, 1fr);
	  }

	</style>

	<script>

	  function updateDateTime() {
		  var d = new Date();
		  var day = d.getDate();
		  var month = d.getMonth() + 1;

		  var txt = "";

		  if (month == 4 && day == 28) {
			  txt = "Happy Birthday Dad!";
		  }
		  else if (month == 11 && day == 20) {
			  txt = "Happy Birthday Mom!";
		  }
		  else if (month == 12 && day == 25) {
			  txt = "Merry Christmas!";
		  }
		  else if (month == 1 && day == 1) {
			  txt = "Happy New Year!";
		  }
		  else {
			  var ds = d.toLocaleString("en-US", { "dateStyle": "full" });
			  var ts = d.toLocaleString("en-US", { "timeStyle": "short" });
			  txt = ds + "<br/>" + ts;
		  }

		  document.getElementById("dtdynamic").innerHTML = txt;
		  window.setTimeout(updateDateTime, 10000);
	  }

	  window.setTimeout(updateDateTime, 1000);

	</script>

  </head>

  <body>

	<div id="container">

	  <div id="now">
		<p>{{STATION_NAME}}</p>
		<p class="large-icon" style="background-image: url('https://shutdownpublic.blob.core.windows.net/misc/weather-icons/{{NOW_ICON}}.svg');" />
		<p>{{NOW_TEMP}}&deg;F</p>
		<p>{{NOW_WIND_SPEED}} mph<br/>{{NOW_WIND_DIR}}</p>
	  </div>
	  
	  <div id="datetime">
		<p id="dtdynamic" />
	  </div>

	  <div id="hourly" class="forecast-container">
		<div class="tiles">
		  {{:rpt H}}
		  <div style="grid-column: {{FCAST_COLUMN}}" class="fcast-entry">
			<p>{{FCAST_HOUR}}</p>
			<p class="small-icon" style="background-image: url('https://shutdownpublic.blob.core.windows.net/misc/weather-icons/{{FCAST_ICON}}.svg');" />
			<p>
			  {{FCAST_TEMP}}&deg;F<br/>
			  {{FCAST_PRECIP}}
			</p>
		  </div>
		  {{:end}}
		</div>
	  </div>

	  <div id="daily" class="forecast-container">
		<div class="tiles">
		  {{:rpt D}}
		  <div style="grid-column: {{FCAST_COLUMN}}" class="fcast-entry">
			<p>{{FCAST_WEEKDAY}}</p>
			<p class="small-icon" style="background-image: url('https://shutdownpublic.blob.core.windows.net/misc/weather-icons/{{FCAST_ICON}}.svg');" />
			<p>
			  {{FCAST_TEMP}}&deg;F<br/>
			  {{FCAST_CONDITIONS}}
			</p>
		  </div>
		  {{:end}}
		</div>
		</div>
	  </div>

	</div>


  </body>

</html>
