{
	"ClassName": "com.shutdownhook.colossus.ToolCalling$Files_Tool",
	"Name": "{{:raw TOOL_NAME}}",
	"Description": "Performs {{:raw TOOL_TYPE}} local file system operations on text files: list, read, write, append.",
	"AutoPrune": true,
	"Config": { "BasePath": "{{:raw TOOL_BASE}}" }
}

