
body {
	font: 12px Verdana, Arial, Helvetica;
}

.header {
	margin-bottom: 12px;
	padding: 8px 8px 8px 8px;
	background: lightgrey;
	font-size: 1.5em;
	font-weight: bold;
}

.extremes {
	float: right;
}

.links {
	margin-top: 20px;
	margin-bottom: 6px;
}

.predictions {
	display: grid;
	grid-gap: 16px;
}

@media only screen and (max-width: 768px) {
	.predictions {
		display: block;
	}
}

.p-header {
	margin-bottom: 4px;
	font-size: 1.2em;
}

.p-time {
	font-weight: bold;
}

.p-snap {
	width: 100%;
}

