
.container {
	display: grid;
    grid-template-columns: 100px 1fr 1fr;
	gap: 10px;
}

.container div {
	/* border: 1px dotted black; */
}

@media only screen and (max-width: 600px) {
	.dataTable {
		display: block;
	}
}

.navLabel {
	grid-column: 1;
	padding-top: 0px;
	font-weight: 600;
	text-align: right;
	padding-right: 8px;
}

/* +-------------+
   | Connections |
   +-------------+ */

.connectionLabel {
	grid-row: 1;
	padding-top: 8px;
}

.connectionSelect {
	grid-column: 2 / span 2;
	grid-row: 1;
}

/* +------------+
   | Query List |
   +------------+ */

.queriesLabel {
	grid-row: 2;
}

.queriesList {
	border: 1px solid grey;
	grid-column: 2;
	grid-row: 2;
	padding: 4px;
	max-height: 150px;
	overflow: auto;
}

.queriesList li {
	padding-left: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.queriesList li span {
	line-height: normal;
}

.queriesButtons {
	grid-column: 3;
	grid-row: 2;
}

.queriesButtons button {
	display: block;
	margin-bottom: 6px;
}

/* +--------+
   | Editor |
   +--------+ */

.editorLabel {
	grid-row: 2;
	padding-top: 4px;
}

.editorContent {
	grid-row: 2;
	grid-column: 2 / span 2;
	padding-top: 0px;
}

/* +--------+
   | Runner |
   +--------+ */

.runnerContent {
	grid-row: 3;
	grid-column: 1 / span 3;
	padding-top: 0px;
	border-top: 4px solid lightgrey;
}
