<div class="orgDiv">
  
  <div class="orgTitle">Age {{ AGE }}; Fitness {{ FITNESS }}</div>
  
  <a href="{{ :raw URL }}">
	
	<img class="orgImg"
		 style="grid-row: {{ ROW }}; grid-column: {{ COL }}"
		 src="{{ :raw IMG }}" />
	
  </a>
  
</div>
